# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
copilot-instructions.md
.github

.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db



# venv
venv/
.env/
.venv/
ENV/
env/
.Python

# Alembic
alembic/versions/

# VSCode
.vscode/

# Логи
*.log

# Jupyter
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Исключить QR-коды
backend/static/qr_codes/*
backend/static/qr_codes/*.png

backend/railway.json